[nz-form] {
  max-width: 800px;
  padding: 20px 0;
}

button {
  margin-left: 8px;
}
input {
  width: 400px;
}
:host ::ng-deep .avatar-uploader > .ant-upload {
        width: 128px;
        height: 128px;
      }
